<?php

// Yandex login
$config['ya_login'] = '';
//Yandex password
$config['ya_password'] = '';

// Для получения app_id и app_password необходимо зайти на  https://oauth.yandex.ru/client/new
// В поле права выбрать Яндекс.Метрика и отметить "Получение статистики, чтение параметров своих и доверенных счётчиков "
//  Присоздании нового приложения вы получите :
// 1. Id приложения = $config['ya_app_id']
// 2. Пароль приложения = $config['ya_app_password']

//Yandex app ID
$config['ya_app_id'] = '';
//Yandex app password
$config['ya_app_password'] = '';

// Номер счетчика. Посмотреть можно тут http://metrika.yandex.ru/grants/
$config['ya_counter_id'] = '';

// Периоды обновления статистики. 
// В промежутках между периодами статистика будет браться из кеш
$config['ya_update_time'] = 60*60;

//Период вывода статистики
// w - неделя
// m - месяц
// k - квартал (3 месаца)
// y - год
$config['ya_stat_time'] = 'y';

// Группировка выводимых данных
// day, week, month 
$config['ya_stat_group'] = 'day';

// Тип выводимых графиков
// v1 - Google Chart Simple
// v2 -  Coogle Chart with timeline (медленно)
// v3 -  jqplot
$config['ya_stat_type'] = 'v1';


return $config;
